@model rebulanyum.CatalogApp.Data.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row" ng-controller="ProductsController">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" ng-model="product.code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" ng-model="product.name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <table>
                    <tr>
                        <td style="width:300px;height:200px;background:#E4E4E4; display: block; text-align: center;">
                            <ui-cropper image="product.photo" result-image="croppedImage" result-image-format="image/png" canvas-scalemode="full-width" area-type="rectangle" aspect-ratio="1.5" init-max-area="true" result-image-quality="1.0" result-image-size="'selection'"></ui-cropper>
                        </td>
                        <td><img ng-show="croppedImage" src="{{croppedImage}}" style="width: 300px; height: 200px;" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">Select an image file: <image-file ng-model="product.photo" /></td>
                    </tr>
                </table>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" ng-model="product.price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="create()">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Head {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CrUDScriptsPartial");}
    <script type="text/javascript" src="~/js/product/create.js"></script>
    <script type="text/javascript">
        (function () {
            var apiBase = '@ViewData["apiBase"]';
            Initialize(apiBase);
        })();
    </script>
}

@section BodyScripts {

}
